<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="gnnpcsaft" Language="1033" Version="$(var.ProductVersion)"
    Manufacturer="Wildson B. B. Lima" UpgradeCode="{C3A0E4D1-7C7C-4B7B-9C2B-4E6C6E18A9E4}">
    <MajorUpgrade DowngradeErrorMessage="A newer version of gnnpcsaft is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="AppIcon" SourceFile="app/icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
    <Property Id="ARPCONTACT" Value="wil_bbl@hotmail.com" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/wildsonbbl/gnnpcsaftapp" />
    <Property Id="ARPHELPLINK" Value="https://github.com/wildsonbbl/gnnpcsaftapp/issues" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLDIR" Name="gnnpcsaft" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="gnnpcsaft" />
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder" />

    <Feature Id="MainFeature" Title="gnnpcsaft" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="StartMenuShortcutComponent" />
      <ComponentRef Id="DesktopShortcutComponent" />
    </Feature>
  </Package>

  <Fragment>
    <ComponentGroup Id="AppFiles" Directory="INSTALLDIR">
      <Files Include="$(var.SourceDir)\**" />
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcutComponent" Guid="{72EE9F9A-2804-4A6D-ABF3-A2E84F70B2AE}">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="gnnpcsaft"
          Description="GNNPCSAFT desktop application" Target="[INSTALLDIR]gnnpcsaft.exe"
          WorkingDirectory="INSTALLDIR" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\gnnpcsaft" Name="StartMenuShortcut" Type="integer"
          Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <StandardDirectory Id="DesktopFolder">
      <Component Id="DesktopShortcutComponent" Guid="{0A855565-772D-49A6-B104-0D93B228A8B0}">
        <Shortcut Id="ApplicationDesktopShortcut" Name="gnnpcsaft"
          Description="GNNPCSAFT desktop application" Target="[INSTALLDIR]gnnpcsaft.exe"
          WorkingDirectory="INSTALLDIR" />
        <RegistryValue Root="HKCU" Key="Software\gnnpcsaft" Name="DesktopShortcut" Type="integer"
          Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>
  </Fragment>
</Wix>