name: Releases

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  release:
    strategy:
      matrix:
        python-version: ["3.13"]
        runs-on: [windows-latest, ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.runs-on }}
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          lfs: true
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          uv pip install -r requirements.txt
      - name: Package App with PyInstaller
        run: |
          pyinstaller --distpath ./app_pkg/dist --workpath ./app_pkg/build --noconfirm --clean gnnpcsaft.spec
      - name: Check files
        run: ls -l ./app_pkg/dist/gnnpcsaft
      - name: zip files
        run: |
          cd ./app_pkg/dist/gnnpcsaft
          zip -r ../gnnpcsaft-${{ github.ref_name }}-${{ matrix.runs-on }}.zip ./*
      - name: Create draft release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ github.ref_name }}
          artifacts: ./app_pkg/dist/gnnpcsaft-${{ github.ref_name }}-${{ matrix.runs-on }}.zip
          draft: true
          prerelease: true
